body,
html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

.btn-warning,
.bg-warning {
  background-color: #fd7e14 !important;
}

#brand {
  height: 3rem;
}

#welcome {
  height: 650px;
  width: 100%;
  background-image: url('../assets//welcome.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#welcome .dark-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

footer {
  margin-top: 2.1rem;
}
