body,
html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:active .btn-warning:focus,
.bg-warning {
  background-color: #fd7e14 !important;
}

.navbar {
  font-size: 18px;
  letter-spacing: 2px;
}

#welcome img {
  margin-top: 5.4rem;
}

#about {
  margin-bottom: 2.3rem;
}

#description-list {
  font-size: 1.4rem;
  font-weight: 500;
  list-style: square;
}

#price {
  font-size: 1.4rem;
  font-weight: 500;
}

#info {
  margin-top: 2.5rem;
}

#contact {
  margin-top: 2rem;
  margin-bottom: 1.6rem;
}

#bot-field {
  display: none;
}

footer {
  margin-top: 2.1rem;
  background-color: darkgreen;
}

footer p {
  font-size: 12px;
}

@media (min-width: 48rem) {
  #welcome img {
    height: 350px;
  }
}

@media (max-width: 48rem) {
  #description-list {
    font-size: 1.3rem;
    font-weight: 300;
  }
}
